html{
    border: 10px #d5daeb solid;
}

body{
    font-family: monospace;
    margin: auto;
    width: 640px;
    animation: gradient 5s infinite;
    background-color: rgb(30, 30, 30);
    background-image: linear-gradient(118deg,#4568dc  , #b06ab3);
    background-size: 200% 200%;
    user-select: none;
}

@keyframes gradient {
    0%{background-position:10% 0%} 
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

#pfp{
    border-radius: 50%;
    height: 250px;
    display: block;
    margin: 20px auto;
    filter: blur(3px);
    border: 5px #d5daeb solid;
    transition:filter 500ms ease ;
}

#pfp:hover{
    filter: blur(0);
}


#title{
    text-align: center;
    font-size: 50px;
    padding: 10px;
    color: #d5daeb;
    text-shadow: 3px  3px  black;
}

#sub-title{
    font-size: 20px;
}

.drop-down{
    padding: 10px;
    font-size: 30px;
    color: #d5daeb;
    text-shadow: 3px  3px  black;
    display: block;
}

.drop-down:hover{
    cursor: pointer;
}

#skills{
    display: block;
}

#links{
    display: block;
}

#projects{
    display: block;
}

.upWardAnimation{
    /*animation: upWard 1s 1;*/
    animation: upWard 500ms 1 forwards;
}

.downWardAnimation{
    /*animation: downWard 1s 1;*/
    animation: downWard 500ms 1 forwards;
}

@keyframes upWard {
    from {margin-top: 13px;opacity: 1;visibility: visible;}
    to {margin-top: -40px;opacity: 0;visibility: hidden;}
}

@keyframes downWard {
    from {margin-top: -40px;opacity: 0;visibility: hidden;}
    to {margin-top: 13px;opacity: 1;visibility: visible;}
}

li{
    display: inline;
}

a{
    text-decoration: none;
}

.tag{
    height: 22px;
    width: 100px;
    border: 2px black solid;
    display: inline-block;
    margin: 2px 0;
    box-shadow:inset -15px 0px 0px #fff;
    cursor: pointer;
    animation: dance 2s infinite;
    transition: box-shadow 300ms ease , animation 300ms ease;
}

.tag:hover{
    box-shadow:inset 0px 0px 0px #fff;
    animation-play-state: paused;
}

@keyframes dance {
    0% {box-shadow:inset -15px 0px 0px #fff;}
    20% {box-shadow:inset -12px 0px 0px #fff;}
    50% {box-shadow:inset -18px 0px 0px #fff;}
    60% {box-shadow:inset -9px 0px 0px #fff;}
    70% {box-shadow:inset 0px 0px 0px #fff;}
    70% {box-shadow:inset 0px 0px 0px #fff;}
    90% {box-shadow:inset -18px 0px 0px #fff;}
    100% {box-shadow:inset -15px 0px 0px #fff;}
}

.text{
    padding: 2px;
    font-size: 20px;
    color: #000000;
    display: inline;
}

#python{
    background-color: #ffde54;
}

#html{
    background-color: #e44d27 ;
}

#js{
    background-color: #f7df1e;
}

#css{
    background-color: #3798d7;
}

#sql{
    background-color: #0179d7;
}

#go{
    background-color: #00abd7; 
}

#bash{
    background-color: #4dab20;
}

#git{
    background-color: #f34e28;
}

#github{
    background-color: #464646;
}

#sololearn{
    background-color: #2d3846;
    width: 120px;
}

#stackoverflow{
    background-color: #f2740d;
    width: 163px;
}

#youtube{
    background-color: #ff0000;
}

#gmail{
    background-color: #1a72e9;
}

#as{
    background-color: #00d752;
    width: 174px;
}

#pyting{
    background-color: #a84ecc;
}

#tw{
    background-color: #00ccff;
    width: 110px;
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 1px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #d5daeb; 
    border-radius: 1px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #4568dc; 
  }

@media (max-width:800px){
    #pfp{
        filter: blur(0);
    }
}

@media (max-width:650px){
    body{
        width: 400px;
    }
}

@media (max-width:410px){
    body{
        width: 200px;
    }
    .drop-down{
        font-size: 18px;
    }
    #title{
        font-size: 22px;
    }
    #sub-title{
        font-size: 16px;
    }
    #pfp{
        height: 150px;
    }
    .text{
        font-size: 16px;
    }
    .tag{
        width: 70px ;
    }
    #github{
        width: 77px;
    }
    #sololearn{
        width: 104px;
    }
    #stackoverflow{
        width: 138px;
    }
    #youtube{
        width: 86px;
    }
    #as{
        width: 146px;
    }
    #pyting{
        width: 78px;
    }
    #tw{
        width: 92px;
    }
}